* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #33475B;
}

header {
  height: 900px;
}

hr {
  border: 0.5px solid #33475B;
}

.container {
  width: 80%;
  margin:auto;
}

.liv-1, .liv-2 {
  height: 10%;
  padding: 30px 0;
}

.liv-1::after {
  content: "";
  display: table;
  clear: both;
}

.nav-sin {
  float: left;
  width: 70%;
}

.nav-des {
  float: left;
  width: 30%;
}

.nav-sin ul li, .nav-des ul li, .menu ul li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
}

.nav-sin ul li:first-child {
  border-right: 1px solid #33475B;;
}

.nav-sin a, .menu a {
  text-decoration: none;
  font-style: normal;
  color: #33475B;
  padding: 0px 20px;
}

.nav-sin a:hover, .menu a:hover {
  text-decoration: underline;
}

button {
  background-color: #FA7659;
  border-radius: 5px;
  border: 0 solid #FA7659;
  color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.btn {
  color: #FA7659;
  background-color: rgba(0, 0, 0, 0);
  border: 0.5px solid #FA7659;
}

.nav-des ul li {
  margin: 0 8px;
}

.nav-des i {
  color: #91D4E1;
}

.liv-2::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 50%;
  padding: 0 20px;
}

.menu{
  float: left;
  width: 50%;
}

.spazio {
  padding-left: 10px;
}

.liv-3 {
  height: 80%;
}

.titolo {
  height: 100%;
  background-image: url(../img/jumbotron.png);
  background-position: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

small {
  display: block;
}
